<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<div class=" span12">

  <%= form_tag("/products/#{params[:id]}", method: "put") do %>
  <h3> Edit product :  <%="#{params[:id]}"%>  </h3> 

  <%= label_tag(:price, "Price:") %>
  <%= text_field_tag(:price) %>
  <%= label_tag(:author, "Author:") %>
  <%= text_field_tag(:author) %>
  <%= label_tag(:marketer, "Marketer:") %>
  <%= text_field_tag(:marketer) %>
  <br>
  <%= submit_tag("Post") %>
  <% end %>
  <br><br>
  <%= link_to "====== Back to Homepage ======" , {:action => "index", :controller => "products"} %>

</div>

